accelerate
albumentations
bpytop
datasets
deepspeed
einops
evaluate
gymnasium
hydra-core
matplotlib
numpy
nvitop
opencv-python
pandas
pillow
ptpython
pytest
python-dotenv
pytorch-lightning
pre-commit
SciencePlots
seaborn
stable-baselines
tokenizers
torch
torchaudio
torchmetrics
torchvision
transformers
typer
wandb
yacs
