accelerate
albumentations
black
bpytop
datasets
diffusers
deepspeed
einops
evaluate
gymnasium
hydra-core
jsonargparse
lightning
lightning[pytorch-extra]
matplotlib
numpy
nvitop
opencv-python
pandas
peft
pillow
ptpython
pytest
python-dotenv
pre-commit
ruff
SciencePlots
seaborn
stable-baselines
timm
tokenizers
torch
torchaudio
torchmetrics
torchvision
tqdm
transformers
typer
wandb
xformers
yacs
